{{yield}}
<link href="https://fonts.googleapis.com/css?family=Nunito|Monda" rel="stylesheet">

<div class="row">
  <ul class="ulNav nav-bar">
    <li class = "head" {{action "home"}}><br><br>ABINPC</li>
    <li><a href="./picker"><br>Make Picks</a></li>
    <li><a href="./picks"><br>View Picks</a></li>
    <li><a href="./scores"><br>Scores</a></li>
    <li><a href="./records"><br>Records</a></li>
    <li><a href="./rules"><br>Rules</a></li>
  </ul>
</div>
