body {
  background-color: #edeef0; 
}

input {
  width: 95%;
}

.title {
  font-size: 12vmin;
  font-family: 'Monda', sans-serif;
}

.inputSmall {
  width: 80%;
}

.paragraph {
  background-color: #E6CCB4;
  border: solid 1px black;
  color: #AE4E02;
  border-radius: 25px;
}
.paragraph2 {
  font-size: 40px;
  text-indent: 0px;
  text-align: center;
  background-color: #AE4E02;
  border: solid 2px #c6cad1;
}

.paragraphError {
  background-color: #563d7c;
  font-size: 6vmin;
  text-align: center;
  color: white;
  border: solid 2px #c6cad1;
  border-radius: 25px;
}

.paragraphHome {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btnHome {
  height: 10vmin;
  width: 100%;
  font-size: 7vmin;
  font-family: sans-serif;
}

a: {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  color: #010a1c;
  font-size: 8vmin;
}

h2 {
  color: #010a1c
}

p {
  font-size: 20px;
  text-indent: 25px;
  text-align: left;
}

.navOffset {
  height: 8vmin;
}

.head {
  padding-right: 3.5vmin;
  text-align: center;
  font-family: 'Monda', sans-serif;
  font-size: 3.25vmax;
  line-height: 17px;
  vertical-align: middle;
  height: 77px;
  color: #AE4E02;
  cursor: default;
}

ul {
  background: #b8caed; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0c2d70, #010a1c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0c2d70, #010a1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  font-size: 20px;
  width: 16vmax;
  height: 77px;
  line-height: 20px;
  color: #E6CCB4;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
  cursor: default;
  font-family: 'Monda', sans-serif;
}

li a:hover {
  background-color: #E6CCB4;
  text-color: darkslateblue;
  font-weight: bold;
  text-decoration: none;
}

.fakeButton {
  font-size: 5vmin;
  line-height: 8vmin;
  height: 8vmin;
  text-align: center;
  background-color: #AE4E02;
  color: white;
}

.fakeButton:hover { 
  background-color: #FFCCB4;
  color: darkslateblue;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.fakeButton2 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  background-color: #010a1c;
  color: #E6CCB4;
}

.fakeButton2:hover {
  background-color: #E6CCB4;
  color: darkslateblue;
  text-color: darkslateblue;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.fakeButton3 {
  font-size: 5vmin;
  line-height: 8vmin;
  height: 8vmin;
  text-align: center;
  background-color: #563d7c;
  color: #E6CCB4;
}

.fakeButton3:hover { 
  background-color: #FFCCB4;
  color: darkslateblue;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}
table {
  border-color: #CC9866;
}

.trHead {
  color: WHITE;
  background-color: #AE4E02;
  
}
.tdNormal {
  color: #AE4E02;
  background-color: #E6CCB4; 
}
.tdBold {
  font-weight: bold;
  color: #AE4E02;
  background-color: #E6CCB4; 
}
.tdName {
  font-weight: bold;
  color: #563d7c;
  background-color: #E6CCB4; 
}
.tdCorrect {
  font-weight: bold;
  color: #563d7c;
  background-color: white;
}
.tdIncorrect {
  text-decoration: line-through;
  color: darkred;
  background-color: #ffeded;
}

td {
  width: 170px;
  height: 50px;
  text-align: center;
}

select {
  width: 200px;
}

