{{outlet}}
<div class = "container-fluid">

{{nav-bar}}

<!-- Since this page is always going to be completely static and is going to require one
minimal update each year, I'm choosing to just keep it static and not worry about storing
this data in the database.-->

<div class = "navOffset">
</div>
<div class="col-sm-4 col-sm-offset-4" style="text-align: center">
  <h1>Hall of Fame</h1>
</div>
<div class="col-sm-12 tableContainer" align="center">
  <div style = "height: 6vmin">
  </div>
  <table border="4" cellpadding="3" cellspacing="3">
    <tr class="trHead"> 
      <td>Year</td>
      <td>Win</td>
      <td>Place</td>
      <td>Show</td>
    </tr>
    <tr>
      <td class="tdName">2016</td>
      <td class="tdBold">Natalie Heatwole</td>
      <td class="tdNormal">Bernie Dunn</td>
      <td class="tdNormal">Doug Heatwole</td>
    </tr>
    <tr>
      <td class="tdName">2015</td>
      <td class="tdBold">Brent Lenz</td>
      <td class="tdNormal">Chuck Todd</td>
      <td class="tdNormal">Alex Abramenko</td>
    </tr>
    <tr>
      <td class="tdName">2014</td>
      <td class="tdBold">Scott Todd</td>
      <td class="tdNormal">Steve Heatwole</td>
      <td class="tdNormal">Tom Heatwole</td>
    </tr>
    <tr>
      <td class="tdName">2013</td>
      <td class="tdBold">Fred Olson</td>
      <td class="tdNormal">Jerri Emm</td>
      <td class="tdNormal">Tom Heatwole</td>
    </tr>
    <tr>
      <td class="tdName">2012</td>
      <td class="tdBold">Brian Koogler</td>
      <td class="tdNormal">JB Showalter</td>
      <td class="tdNormal">Steve Heatwole</td>
    </tr>
    <tr>
      <td class="tdName">2011</td>
      <td class="tdBold">Bill Murray</td>
      <td class="tdNormal">Travis Moran</td>
      <td class="tdNormal">Alec DeJong (tie)<br>Jerri Emm (tie)</td>
    </tr>
    <tr>
      <td class="tdName">2010</td>
      <td class="tdBold">Chuck Todd</td>
      <td class="tdNormal">Connor Porco</td>
      <td class="tdNormal">Brent Lenz</td>
    </tr>
    <tr>
      <td class="tdName">2009</td>
      <td class="tdBold">Jeff Heatwole</td>
      <td class="tdNormal">Doug Heatwole</td>
      <td class="tdNormal">Scott Todd</td>
    </tr>
    <tr>
      <td class="tdName">2008</td>
      <td class="tdBold">Jeff Heatwole</td>
      <td class="tdNormal">Jamie Hupp</td>
      <td class="tdNormal">Brian Koogler</td>
    </tr>
    <tr>
      <td class="tdName">2007</td>
      <td class="tdBold">Alec DeJong</td>
      <td class="tdNormal">Steve Heatwole</td>
      <td class="tdNormal">Bernie Dunn</td>
    </tr>
    <tr>
      <td class="tdName">2006</td>
      <td class="tdBold">Steve Heatwole</td>
      <td class="tdNormal">Fred Olson</td>
      <td class="tdNormal">Tom Heatwole</td>
    </tr>
    <tr>
      <td class="tdName">2005</td>
      <td class="tdBold">Jeff Heatwole</td>
      <td class="tdNormal">Jamie Hupp</td>
      <td class="tdNormal">Scott Todd</td>
    </tr>
    <tr>
      <td class="tdName">2004</td>
      <td class="tdBold">Bernie Dunn</td>
      <td class="tdNormal">JD Showalter</td>
      <td class="tdNormal">Bob Dudley</td>
    </tr>
    <tr>
      <td class="tdName">2003</td>
      <td class="tdBold">Jamie Hupp</td>
      <td class="tdNormal">Jerri Emm</td>
      <td class="tdNormal">Fred Olson</td>
    </tr>
    <tr>
      <td class="tdName">2002</td>
      <td class="tdBold">Jeff Heatwole</td>
      <td class="tdNormal">Nat Rogers</td>
      <td class="tdNormal">Chuck Todd</td>
    </tr>
    <tr>
      <td class="tdName">2001</td>
      <td class="tdBold">Chuck Todd</td>
      <td class="tdNormal">Bernie Dunn</td>
      <td class="tdNormal">Brian Koogler</td>
    </tr>
    <tr>
      <td class="tdName">2000</td>
      <td class="tdBold">Nat Rogers</td>
      <td class="tdNormal">Steve Heatwole</td>
      <td class="tdNormal">Bernie Dunn</td>
    </tr>
    <tr>
      <td class="tdName">1999</td>
      <td class="tdBold">Jeff Heatwole</td>
      <td class="tdNormal">Fred Olson</td>
      <td class="tdNormal">Chuck Todd</td>
    </tr>
    <tr>
      <td class="tdName">1998</td>
      <td class="tdBold">Chuck Todd</td>
      <td class="tdNormal">*</td>
      <td class="tdNormal">*</td>
    </tr>
    <tr>
      <td class="tdName">1997</td>
      <td class="tdBold">Doug Heatwole</td>
      <td class="tdNormal">*</td>
      <td class="tdNormal">*</td>
    </tr>
    <tr>
      <td class="tdName">1996</td>
      <td class="tdBold">Dave Haley</td>
      <td class="tdNormal">Jeff Heatwole</td>
      <td class="tdNormal">Chuck Todd</td>
    </tr>
    <tr>
      <td class="tdName">1995</td>
      <td class="tdBold">Bill Murray</td>
      <td class="tdNormal">*</td>
      <td class="tdNormal">*</td>
    </tr>
    <tr>
      <td class="tdName">1994</td>
      <td class="tdBold">Doug Heatwole</td>
      <td class="tdNormal">*</td>
      <td class="tdNormal">*</td>
    </tr>
    <tr>
      <td class="tdName">1993</td>
      <td class="tdBold">Doug Heatwole</td>
      <td class="tdNormal">*</td>
      <td class="tdNormal">*</td>
    </tr>
  </table>
  <div class = "navOffset">
  </div>
</div>

</div>
