{{outlet}}


{{nav-bar}}

<!-- Since this page is always going to be completely static and is going to require one
minimal update each year, I'm choosing to just keep it static and not worry about storing
this data in the database.-->

<br>
<br>
<h1>Hall of Fame</h1>
<br>
<br>
<br>
<div class="col-md-12">
  <table border="4" cellpadding="3" cellspacing="3">
    <tr> <!-- TODO: Give header class -->
      <td>Year</td>
      <td>Win</td>
      <td>Place</td>
      <td>Show</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Natalie Heatwole</td>
      <td>Bernie Dunn</td>
      <td>Doug Heatwole</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>Brent Lenz</td>
      <td>Chuck Todd</td>
      <td>Alex Abramenko</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>Scott Todd</td>
      <td>Steve Heatwole</td>
      <td>Tom Heatwole</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Fred Olson</td>
      <td>Jerri Emm</td>
      <td>Tom Heatwole</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Brian Koogler</td>
      <td>JB Showalter</td>
      <td>Steve Heatwole</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Bill Murray</td>
      <td>Travis Moran</td>
      <td>Alec DeJong (tie)<br>Jerri Emm (tie)</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>Chuck Todd</td>
      <td>Connor Porco</td>
      <td>Brent Lenz</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Jeff Heatwole</td>
      <td>Doug Heatwole</td>
      <td>Scott Todd</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>Jeff Heatwole</td>
      <td>Jamie Hupp</td>
      <td>Brian Koogler</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>Alec DeJong</td>
      <td>Steve Heatwole</td>
      <td>Bernie Dunn</td>
    </tr>
    <tr>
      <td>2006</td>
      <td>Steve Heatwole</td>
      <td>Fred Olson</td>
      <td>Tom Hetawole</td>
    </tr>
    <tr>
      <td>2005</td>
      <td>Jeff Heatwole</td>
      <td>Jamie Hupp</td>
      <td>Scott Todd</td>
    </tr>
    <tr>
      <td>2004</td>
      <td>Bernie Dunn</td>
      <td>JD Showalter</td>
      <td>Bob Dudley</td>
    </tr>
    <tr>
      <td>2003</td>
      <td>Jamie Hupp</td>
      <td>Jerri Emm</td>
      <td>Fred Olson</td>
    </tr>
    <tr>
      <td>2002</td>
      <td>Jeff Heatwole</td>
      <td>Nat Rogers</td>
      <td>Chuck Todd</td>
    </tr>
    <tr>
      <td>2001</td>
      <td>Chuck Todd</td>
      <td>Bernie Dunn</td>
      <td>Brian Koogler</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>Nat Rogers</td>
      <td>Steve Heatwole</td>
      <td>Bernie Dunn</td>
    </tr>
    <tr>
      <td>1999</td>
      <td>Jeff Heatwole</td>
      <td>Fred Olson</td>
      <td>Chuck Todd</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>Chuck Todd</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>Doug Heatwole</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>1996</td>
      <td>Dave Haley</td>
      <td>Jeff Heatwole</td>
      <td>Chuck Todd</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>Bill Murray</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>1994</td>
      <td>Doug Heatwole</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>1993</td>
      <td>Doug Heatwole</td>
      <td>*</td>
      <td>*</td>
    </tr>
  </table>
</div>
<br>
<br>
* Please excuse the previous commissioner for losing data between 1993 and 1998. <br>
The current commissioner would never make a mistake like that.
